*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

.text .content{
    margin-top: 140px;
    margin-left: 110px;
    font-size: 70px;
    

}
.content2
{
    margin-top: 0px;
    margin-left: 110px;
    font-size: 50px;
 
}
.content2 span{
    color: #02a9fd;
    font-size: 60px;
   
}


nav ul{
    float: right;
    margin: 20px;
    margin-left: 120px;
    width:  570px;
    padding: 0px;
    list-style: none;
    line-height: 36px; 
    height: 36px;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    box-shadow: 10px 20px 10px rgba(0, 0, 0, 0.688)
}
nav ul li{
   float: left;
   border-right: 1px solid #f3f3f3;
}

nav ul li a{
display: block;
padding:   0px 20px;
color: azure;
text-decoration: none;

margin-right: 0px;
}
a:hover, .active a{
    background-color: #02a9fd;
}

body{
    display: flex;
    min-height: 50vh;
    background:linear-gradient(315deg, #b3e3f4 35%, #d5e3f0 0.75%);
}
.about .inner
{    width: 200px 300px;
    font-size: 50px;
}

.login
{  margin-top: 100px;
   margin-bottom: 0px;
    margin-right: 80px;
    margin-left: 110px;
    
    position: relative;
    padding: 60px;
    background:linear-gradient(315deg, #74d1f3 35%, #d5e3f0 0.75%);
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-width: 0px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    box-shadow: 10px 20px 10px rgba(0, 0, 0, 0.688)
}
.login h2
{
    font-weight: 600;
    line-height: 0em;
    padding-left: 15px;
}
.login .inputbox 
{
position: relative;
}
.login .inputbox input
{
    position: relative;
    width: 100%;
    padding: 10px 35px;
    outline: none;
    border:  2px solid  rgb(0, 0, 0);
    font-size: 1em;
    color: rgba(0, 0, 0, 0.618);
    box-shadow: 0 10px 20px rgba(46, 45, 45, 0.688)
}
.login .inputbox input#btn
{
    border: none;
    background: #02a9fd;
    color: rgb(238, 238, 238);
    font-size: 1.1em;
    font-weight: 500;
    cursor: pointer;
}
.login .group
{
    display: flex;
    justify-content: space-between;
  
}
.group #none1 {
    
    text-decoration: none;
    font-weight: 400;

   
     
    color: rgb(0, 0, 0);
    font-size: 1.1em;
   
    
   
}
.group #none2{
    
    
    font-weight: 100;
    
    
    color:rgb(0, 0, 0);
    font-size: 1.15em;
    
}
